<h1>New Lead</h1>
<%= form_tag user_leads_path(@user), method: :post do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :job_title %>
    <%= text_field_tag :job_title %>
  </div>
  <div>
    <%= label_tag :company %>
    <%= text_field_tag :company %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :phone %>
    <%= text_field_tag :phone %>
  </div>
  <div>
    <%= label_tag :date, "Contact initated on: " %><span title="Initial contact includes LinkedIn Invite Sent, introduction email, Meet-up, etc. Please specify form of contact in the notes."> ?</span>
    <%= datetime_select(:lead, :date, default: Time.zone.now) %>
  </div>
  <div>
    <%= label_tag :notes %>
    <%= text_area_tag :notes %>
  </div>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
